header {
  background: #59514e;
  font-family: Sans-serif, Serif;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  text-decoration: none;
  color: white;
  font-size: 60px;
}

body {
  background: #fcfcfc;
  font-family: sans-serif, Serif;
  font-size: 24px;
  text-align: center;
}

main {
  margin-top: 50px;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 40%;
  height: 50px;
  background: orange;
  color: white;
}

#detect-box-text {
  margin-top: auto;
  margin-bottom: auto;
}

#manual-box-container {
  background: blue;
}

footer {
  background: #59514e;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
}
#footer-text, #footer-text a {
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
  margin-top: 5px;
}

#footer-text a:hover {
  text-decoration: underline;
}

#footer-text h3 {
  font-size: 36px;
  text-decoration: underline;
  margin-bottom: 20px;
}